.main_banner
  #top_banner
    a(href=routes.home) 당신을 위한 주소록
.login_wrapper
  ul.login_container
    if loggedUser
      li
        a(href=routes.logout) 로그 아웃
    else
      li 
        a(href=routes.login) 로그인
      li
        a(href=routes.join) 회원가입
.menu_list
  nav.nav_wrapper
    ul.nav_container
      if loggedUser
        li.nav_item 
          a(href=routes.editAdress) 주소록 작성
        li.nav_item 
          a 주소록 목록
        li.nav_item
          a 개발 일지 보기
      else
        li.nav_item 
          a 주소록 목록
        li.nav_item
          a 개발 일지 보기